h1 { color: #FF0000; }
body { background: linear-gradient(#b103fc, #034afc);
	padding: 5% 5% 20% 10%;
}
.caja-preguntas { background: white; border-radius: 25px;  }
.ilustracion {}
.preguntas {}


/*	background-image: url("images/bg-pattern-desktop.svg"); */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }